@layer Col.tsx-Col-jplKvk;

@layer Box.tsx-Box-cxPeSE;

@layer Row.tsx-Row-kgXsjA;

@layer Grid.tsx-__Grid-coZALk;

@layer Fixed.tsx-__Fixed-eiOstY;

@layer Responsive.tsx-Responsive-jWYPFY;

@layer Stack.tsx-__Stack-jehDBI;

@layer Abs.tsx-Abs-kTJeMw;

@layer Relative.tsx-_Relative-ieiVgj;

@layer List.tsx-__List-brjJXk;

@layer Col.tsx-Col-jplKvk {.baseStyle-eVKEMs{display:flex;flex-direction:column;align-items:flex-start;justify-content:flex-start}.variants-gap-dynamic-iCYOfC > :where(:not(:last-child)){margin-bottom:var(--variants-gap-dynamic)}
.variants-fx-dynamic-byhcxn{align-items:var(--variants-fx-dynamic)}
.variants-fy-dynamic-fBSwba{justify-content:var(--variants-fy-dynamic)}
}
@layer Box.tsx-Box-cxPeSE {.baseStyle-dhzjXW{display:flex}.variants-dbg-true-cjqOyh,.variants-dbg-true-cjqOyh *{outline:1px solid rgba(220, 108, 108, 0.5)}
}
@layer Row.tsx-Row-kgXsjA {.baseStyle-jwtIMV{display:flex;flex-direction:row;align-items:center;justify-content:flex-start}.variants-gap-dynamic-hJEYEx > :where(:not(:last-child)){margin-right:var(--variants-gap-dynamic)}
.variants-fx-dynamic-hDAmCf{justify-content:var(--variants-fx-dynamic)}
.variants-fy-dynamic-yrjGO{align-items:var(--variants-fy-dynamic)}
}
@layer Grid.tsx-__Grid-coZALk {.baseStyle-bKdkJy{display:grid;place-content:center}}
@layer Fixed.tsx-__Fixed-eiOstY {.baseStyle-dguCHI{position:fixed}}
@layer Responsive.tsx-Responsive-jWYPFY {.baseStyle-lhuref{display:flex;flex-direction:row;flex-wrap:nowrap}@media (max-width: 768px){.baseStyle-lhuref{flex-direction:column}}
.variants-fx-dynamic-bduvFY{justify-content:var(--variants-fx-dynamic)}
@media (max-width: 768px){.variants-fx-dynamic-bduvFY{align-items:var(--variants-fx-dynamic)}}
.variants-fy-dynamic-iiDvRI{align-items:var(--variants-fy-dynamic)}
@media (max-width: 768px){.variants-fy-dynamic-iiDvRI{justify-content:var(--variants-fy-dynamic)}}
}
@layer Stack.tsx-__Stack-jehDBI {.baseStyle-iXFdhL{position:relative;display:inline-block;overflow:hidden;width:max-content}.baseStyle-iXFdhL > :not(:first-child){left:0;top:0;position:absolute}
}
@layer Abs.tsx-Abs-kTJeMw {.baseStyle-bMCfDd{position:absolute}}
@layer Relative.tsx-_Relative-ieiVgj {.baseStyle-cmpvrW{position:relative}}
@layer List.tsx-__List-brjJXk {.baseStyle-gNbevc{list-style:none;flex-wrap:nowrap}.variants-direction-column-dUzzmp{flex-direction:column;align-items:stretch}
.variants-direction-row-ejCoEP{flex-direction:row}
}
