@layer Box.tsx-Box-cdcRPA,Row.tsx-Row-emoBVI;

@layer Box.tsx-Box-cdcRPA,Responsive.tsx-Responsive-evOSxY;

@layer Box.tsx-Box-cdcRPA,Col.tsx-Col-gKGUcw;

@layer Box.tsx-Box-cdcRPA,Fixed.tsx-__Fixed-jwvkPk;

@layer Grid.tsx-__Grid-fPQlWo;

@layer Grid.tsx-Grid-beRpsg;

@layer Box.tsx-Box-cdcRPA,Stack.tsx-__Stack-jAmpJY;

@layer Stack.tsx-Stack-bKmdds;

@layer Box.tsx-Box-cdcRPA,Relative.tsx-_Relative-bRmvCH;

@layer Box.tsx-Box-cdcRPA,Abs.tsx-Abs-dqxyVs;

@layer List.tsx-__List-hUXgeo;

@layer List.tsx-List-dATtyo;

@layer Atomic.tsx-Atomic-kXriSP,Space.tsx-Space-jlVbLL;

@layer Atomic.tsx-Atomic-kXriSP,Link.tsx-Link-aUvzs;

@layer Atomic.tsx-Atomic-kXriSP,Button.tsx-__Button-bpBBDm;

@layer Button.tsx-Button-hvVLpK;

@layer Atomic.tsx-Atomic-kXriSP,Text.tsx-Text-eyFYCB,Vairants.tsx-Title-lblaiV;

@layer Atomic.tsx-Atomic-kXriSP,Text.tsx-Text-eyFYCB,Vairants.tsx-SubTitle-brnzQt;

@layer Atomic.tsx-Atomic-kXriSP,Text.tsx-Text-eyFYCB,Vairants.tsx-Description-cdJwnL;

@layer Atomic.tsx-Atomic-kXriSP,Image.tsx-_Image-lpdcfQ;

@layer Variants.tsx-Avatar-csbyLG;

@layer Modal.tsx-__Mask-kwTWGC;

@layer Fixed.tsx-Fixed-cmTsNs,Fixed.stories.tsx-_Fixed-bRJnCn;

.css-kIzKQU{width:300px;color:green;font-size:20px;font-weight:200;line-height:}.css-hZSEoo{width:300px;font-size:20px;font-weight:200;line-height:}
.css-kKxiWm{font-size:24px;line-height:1;font-family:Poppins}
.css-kKxiWm::before{content:"";position:absolute;width:28px;height:28px;border-radius:50%;font-size:16px;font-weight:600;font-family:Poppins;line-height:}
.css-kKxiWm{position:relative}