@layer Space.tsx-Space-dWRKgX;

@layer Atomic.tsx-Atomic-CkgDf;

@layer Button.tsx-__Button-xBxTC;

@layer Button.tsx-Button-fPMGRu;

@layer Link.tsx-Link-eYFZUE;

@layer Text.tsx-Text-ktqgjh;

@layer Image.tsx-_Image-fTzcTA;

@layer Variants.tsx-Avatar-czLZrq;

@layer Vairants.tsx-Title-iqAhzB;

@layer Vairants.tsx-SubTitle-foTbaR;

@layer Vairants.tsx-Description-kywJOP;

@layer Space.tsx-Space-dWRKgX {.baseStyle-dPWzRY{display:block;flex-shrink:0}.variants-size-dynamic-dQwCki{width:var(--variants-size-dynamic);height:var(--variants-size-dynamic)}
}
@layer Atomic.tsx-Atomic-CkgDf {.baseStyle-kZRiXr{box-sizing:border-box;padding:0;margin:0}.variants-shape-round-dtVMWK{border-radius:100000px}
.variants-shape-rect-iydAuT{border-radius:0}
}




@layer Button.tsx-__Button-xBxTC {.baseStyle-fzwWap{display:flex;align-items:center;justify-content:center;cursor:pointer}.baseStyle-fzwWap[disabled]{cursor:not-allowed}
}

@layer Button.tsx-Button-fPMGRu {
}

@layer Link.tsx-Link-eYFZUE {.baseStyle-fGLCmB{text-decoration:none;cursor:pointer}}
@layer Text.tsx-Text-ktqgjh {.variants-gradient-dynamic-ivDDh{background:var(--variants-gradient-dynamic);-webkit-background-clip:text;background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent}
.variants-rows-dynamic-LOOSj{display:-webkit-box;-webkit-line-clamp:var(--variants-rows-dynamic);-webkit-box-orient:vertical;overflow:hidden;word-break:normal}
}
@layer Image.tsx-_Image-fTzcTA {.baseStyle-grJXBd{object-fit:cover;object-position:center;flex-shrink:0;max-width:100%}}
@layer Variants.tsx-Avatar-czLZrq {.baseStyle-moRr{round:true}}
@layer Vairants.tsx-Title-iqAhzB {}

@layer Vairants.tsx-SubTitle-foTbaR {
}

@layer Vairants.tsx-Description-kywJOP {
}
